<div style="border: 20px; width: 80%; margin-left: 50px;">
  <div style="display: block;">
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
    ></canvas>
  </div>
</div>
<br><br><br><hr><br><br><br>
<div style="border: 20px; width: 80%; margin-left: 50px;">
  <div style="display: block;">
    <canvas baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
    
    ></canvas>
  </div>
</div>
