<mat-nav-list>
  <div >
    <h1>Logo</h1>
  </div>
  <mat-divider> </mat-divider>
  <h2 matSubheader class="mt-2">Applications</h2>
  <a mat-list-item routerLink="#" routerLinkActive="list-item-active">PA-Sheet</a>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">Dashboard</a>
  <a mat-list-item routerLink="/department/list" routerLinkActive="list-item-active">Department</a>
  <a mat-list-item routerLink="/team/list" routerLinkActive="list-item-active">Team</a>
  <a mat-list-item routerLink="/myaccount" routerLinkActive="list-item-active">My-Account</a>
</mat-nav-list>
